body {
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    max-width: 980px;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: #fff;
}

form {
    width: 100%;
    margin: 20px 0;
}

form div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

form label {
    font-weight: bold;
}

form input {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.categories {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    display: block;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.categories input {
    margin-right: 0;
    width: 10%;
}

.home::before {
    content: '\1F3E0';
    margin-right: 5px;
    display: inline-block;
}

.connect::before {
    content: '\1F464';
    margin-right: 5px;
}

.cart::before {
    content: '\1F6D2';
    margin-right: 5px;
}

.formLogin {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    /* Centrer le contenu du formulaire */
}

/* Style pour le bouton à l'intérieur du formulaire .formLogin */
.formLogin input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
}

.formLogin input[type="submit"]:hover {
    background-color: #0056b3;
}

.register {
    text-align: center;
}

.addBook {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    transition: background-color 0.2s;
    width: 50%;
}

.addBook:hover {
    background-color: #0056b3;
}